@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.logo{
  font-family: 'Permanent Marker', cursive;
  color: #3CBC8D;
  padding: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box1{
  margin: 0;
  height: 70vh;
}

.content1{
  height: 50%;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.input{
  background-color: #3CBC8D;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border: none;
  border-radius: 20px;
  padding: 15px;
  line-height: 10px; 
  text-emphasis-color: white;
}

.input, select, textarea{
  color: white;
}

::placeholder{
  color: white;
  opacity: 1;
}

.input:focus{
  outline: none;
}

.input-btn{
  margin: auto;
  padding: 10px;
  margin-top: 1px;
  height: 40px;
  background-color: #3CBC8D;
  border: 2px solid #3CBC8D;
  border-radius: 20px;
  color: white;
  transition: 0.3s;
  outline: none;
}

.input-btn:hover{
  cursor: pointer;
  background-color: white;
  color: #3CBC8D
}


.box2{
  margin: 0;
  background-color: #3CBC8D;
  height: 30vh;
  overflow: scroll;
}

.box2-1{
  display: flex;
  justify-content: space-evenly;
  border-bottom: white double 1px;
}



.to-do{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.completed-icon{
  color: white;
  cursor: pointer;
}

.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content{
  width: 285px;
  height: 300px;
  background-color: white;
  text-align: center;
  position: relative;
}

.box3{
  width: 100%;
  height: 20%;
  background-color: #3CBC8D;
}

.close{
  color: white;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.box4{
  width: 100%;
  height: 50%;
  padding: 10px;
  border-bottom: 1px solid;
  border-color: #3CBC8D;
}

.modal-text{
  font-size: 24px;
  word-wrap: break-word;
  padding: 15px;
}

.box5{
  padding: 10px;
}

.modal-btn{
  margin: 0;
  padding: 15px;
  cursor: pointer;
  background-color: #3CBC8D;
  border: 2px solid #3CBC8D;
  border-radius: 20px;
  color: white;
  transition: 0.3s;
  outline: none;
  position: relative;
}

.modal-btn:hover{
  background-color: white;
  color: #3CBC8D
}

#btn1{
  float: left;
}

#btn2{
  float: right;
}

@media(min-width: 800px){
  .container{
    flex-direction: row;
    height: 100vh;
    width: 100vw;
  }
  .box1{
    height: 100vh;
    width: 100vw
  }
  .box2{
    height: 100vh;
    width: 50vw;
  }
  .input-btn{
    height: 50px;
  }
  .modal-content{
    width: 500px;
    height: 300px;
  }
  .box4{
    border-bottom: none;
  }
}
